appdirs==1.4.3
attrs==19.3.0
Automat==0.8.0
beautifulsoup4==4.8.2
bs4==0.0.1
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
constantly==15.1.0
cryptography==2.8
cssselect==1.1.0
elasticsearch==5.5.3
elasticsearch-dsl==5.1.0
facebook-scraper==0.1.10
fake-useragent==0.1.11
h==0.99
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
lxml==4.6.5
mysqlclient==1.4.6
parse==1.15.0
parsel==1.5.2
Pillow==7.0.0
Protego==0.1.15
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycparser==2.19
PyDispatcher==2.0.5
pyee==7.0.1
PyHamcrest==1.9.0
pymongo==3.10.1
PyMySQL==0.9.3
pyOpenSSL==19.1.0
pyppeteer==0.0.25
pyquery==1.4.1
python-dateutil==2.8.1
queuelib==1.5.0
redis==3.4.1
requests==2.22.0
requests-html==0.10.0
Scrapy==1.8.0
scrapy-redis==0.6.8
selenium==3.141.0
service-identity==18.1.0
six==1.13.0
soupsieve==2.0
tqdm==4.44.1
Twisted==19.10.0
urllib3==1.25.8
w3lib==1.21.0
websockets==8.1
zope.interface==4.7.1
